@{
    ViewBag.Title = "Dashboard";
}

<div id="outer" class="text-center vertical-center">
    <div id="inner" class="col">
        <h1 class="mb-2 display-4">We Provides a Variety of Quality and Complete Books</h1>
        <blockquote class="blockquote">
            <p class="mb-2">"Books are a bridge of knowledge to connect knowledge with real life."</p>
            <footer class="blockquote-footer"><cite title="Source Title">Visit Me!</cite></footer>
        </blockquote>
    </div>
</div>